//Variables
$website-width: 1200px;
$main-color: #35b8be;
$white-color: #fff;
$fade-white: hsla(0, 0%, 100%, 0.8);
$para-color: #546285;
$body-color: #333;
$fade-black: #28224b;
$heading-color: #08090a;
$line-color: #d1cdcd;
$span-dark-color: #1b9097;
$border-color: #e6e6e6;
